pdfs/
lexico/
.vscode/

# Arquivos do flex
lex.yy.cc
goianinha
main

# Arquivos do bison
goianinha.tab.*
goianinha.png

# Pastas/arquivos para entregar a tarefa
T1
T2
T1.zip
T2.tar
T3.zip
01_tabela_de_simbolos
02_analisador_lexico